*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  /* colors */
  --black: #000;
  --white: #FFF;
  --light-grey: #DFDFDF;
  --main-accent: linear-gradient(26.57deg, #FFC593 0.42%, #BC7198 43.46%, #5A77FF 83.33%);

  /* typography */
  --font-family: 'DM Sans', sans-serif;

  --weight-regular: 400;
  --weight-strong: 700;

  --size-body: 15px;
  --size-h1-2-large:2.7rem;
  --size-large: 1.6rem;
  --size-medium: 1.2rem;
  --size-small: .8rem; /* button */

  --large-title-space: 4px;
  --button-space: 2px; /* letter-spacing */
}

body{
  display: flex;
  flex-direction: column;

  color: var(--black);
  font-family: var(--font-family);
  font-size: var(--size-body);
  font-weight: var(--weight-regular);
}