.c-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.c-gallery__card{
    width: 25%;
    margin-bottom: -.5rem;
    transition: ease-in .2s;
}

.c-gallery__card:hover{
    transform: translateY(-2rem);
    border-bottom: solid .4rem ;
    border-image-source: var(--main-accent);
    border-image-width: 100%;
}