.c-gallery{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.c-gallery__card{
    width: 25%;
    transition: ease-in .2s;
}

.c-gallery__card:hover{
    transform: translateY(-2rem);
    border-bottom: solid .4rem ;
    border-image-source: var(--main-accent);
    border-image-width: 100%;
}

@media screen and (max-width: 1440px) {
    .c-gallery__card{
        max-width: none;
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .c-gallery__card{
        width: 100%;
    }
}