.c-pricing__card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.c-pricing__card--bgLightGrey {
    color: var(--black);
    background-color: var(--light-grey);
}

.c-pricing__card--bgBlack {
    color: var(--white);
    background-color: var(--black);
}

.c-pricing__card--small {
    padding: 6% 3% 5% 3%;
}

.c-pricing__card--big {
    padding: 8% 3% 7% 3%;
    margin: 0 2rem;
}

.c-pricing__card div {
    margin: 0 0 2.66rem 0;
}

.c-pricing__card h3 {
    font-weight: var(--weight-strong);
    font-size: 1.6rem;
}

.c-pricing__card p {
    opacity: 0.6;
}

.c-pricing__card span {
    font-size: 2.66rem;
    font-weight: var(--weight-strong);
}

@media screen and (max-width:1440px){
    .c-pricing__card {
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
        height: 100%;
        width: 100%;
    }

    .c-pricing__card-div01 {
        display: flex;
        flex-flow: column wrap;
        text-align: justify;
        width: 50%;
    }

    .c-pricing__card-div02 {
        display: flex;
        flex-flow: column wrap;
        text-align: right;
        width: 50%;
    }

    .c-pricing__card--small {
        padding: 5.2% 6.2% 5.2% 5.2%;
    }
    
    .c-pricing__card--big {
        padding: 5.2% 6.2% 5.2% 5.2%;
        margin: 1.6rem 0;
    }    
}

@media screen and (max-width:768px){
    .c-pricing__card {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
    }

    .c-pricing__card-div01 {
        text-align: center;
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        margin: 0 0 2.6rem 0;
    }

    .c-pricing__card-div01 h3 {
        margin: 0 0 1.2rem 0;
    }

    .c-pricing__card-div02 {
        text-align: center;
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        margin: 0 0 2.6rem 0;
    }

    .c-pricing__card--small {
        padding: 3.73rem 1.46rem 2.6rem 1.46rem;
    }
    
    .c-pricing__card--big {
        display: flex;
        padding: 3.73rem 1.46rem 2.6rem 1.46rem;
        margin: 1.6rem 0;
    }
}